.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.96)),
    url(./img/bg.jpg) no-repeat center fixed;
  color: #fff;
}

.App p {
  margin: 1.5rem 0;
}

.App p a {
  text-decoration: none;
  background-color: rgba(39, 174, 96, 0.2);
  transition: 200ms;
}

.App p a:hover,
.App p a:active,
.App p a:focus {
  background-color: rgba(39, 174, 96, 0.5);
  transition: 200ms;
}

.App .attenuated {
  display: inline-block;
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-size: 3rem;
  opacity: 0.05;
}

h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-size: 3rem;
}

a {
  color: #fff;
}

.input {
  width: 100%;
}

.input input {
  max-width: 80%;
  padding: 0.75rem 1rem;
  font-family: 'Roboto Mono', 'Consolas', monospace;
  font-size: 2rem;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  outline: 0;
}

.display p {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.display p.info {
  font-size: 0.85rem;
  color: #999999;
}

footer {
  position: absolute;
  bottom: 1rem;
  font-size: .85rem;
  color: #333;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 620px) {
  .App .attenuated {
    font-size: 1.75rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}